<header class="bg-white dark:bg-[#222222] text-black dark:text-[#f5f5f5]">
    <!-- Header for web -->
    <nav class="mx-auto flex  items-center justify-between p-6 lg:px-20" aria-label="Global">
        <a class="-m-1.5 p-1.5">
            <h1 class="text-3xl font-bold leading-6">Farhan</h1>
        </a>

        <div (click)="$event.stopPropagation()" class="flex lg:hidden menu-button ">
            <button (click)="toggleMenu()" type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
                    aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <button (click)="toggleTheme()"
                class=" px-4 py-2 bg-blue-500 dark:bg-yellow-400 text-white dark:text-black rounded-md shadow-md ">
                <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-800 dark:text-white transition" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5" />
                    <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                </svg>

                <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-800 dark:text-white"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M21.752 15.002A9 9 0 1 1 9.002 2.248a7 7 0 1 0 12.75 12.75z" />
                </svg>
            </button>
            <a class="text-md font-semibold leading-6 transition-transform duration-300 flex items-center hover:scale-105 cursor-pointer"
                *ngFor="let label of tabs" (click)="changeTab(label)"
                [ngClass]="{'tab-color': selectedTab == label}">{{label}}</a>

        </div>
    </nav>
    <!-- header for mobile  -->
    <div *ngIf="menuOpened" (clickOutside)="clickOut()" clickedOutside
        class="fixed mobile-menu inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:w-[300px] sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">

            <svg width="40" height="40" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
                <polygon fill="#DD0031" points="125,10 240,65 216,200 125,240 34,200 10,65" />
                <polygon fill="#C3002F" points="125,10 125,27 125,27 125,27 125,240 216,200 240,65" />
                <path fill="#FFF" d="M125 32L52 195h27l14-35h64l14 35h27L125 32zm20 106h-40l20-47 20 47z" />
            </svg>
            <button (click)="toggleTheme()"
                class="fixed top-4 right-4 px-4 py-2 bg-blue-500 dark:bg-yellow-400 text-white dark:text-black rounded-md shadow-md z-50">
                <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-800 dark:text-white transition" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5" />
                    <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                </svg>

                <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-800 dark:text-white"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M21.752 15.002A9 9 0 1 1 9.002 2.248a7 7 0 1 0 12.75 12.75z" />
                </svg>
            </button>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="toggleMenu()">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                    <button (click)="toggleTheme()"
                        class="fixed top-4 right-4 px-4 py-2 bg-blue-500 dark:bg-yellow-400 text-white dark:text-black rounded-md shadow-md z-50">
                        <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-800 dark:text-white transition" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5" />
                            <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                        </svg>

                        <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6 text-gray-800 dark:text-white" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21.752 15.002A9 9 0 1 1 9.002 2.248a7 7 0 1 0 12.75 12.75z" />
                        </svg>
                    </button>
                    <a class="-mx-3 block rounded-lg transition-transform duration-300 hover:scale-105 px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                        *ngFor="let item of tabs" (click)="changeTab(item)">{{item}} </a>
                </div>
            </div>
        </div>
    </div>
</header>