<div id="home" class="bg-[#0b243c] text-white p-6 py-10 lg:px-20 md:flex items-center">
    <div class=" flex-1">
        <h1 class="bg-[#052c65] text-xl font-semibold px-4 py-1 rounded-lg inline tracking-[0.2em]">Farhan Akhtar</h1>
        <h1 class=" text-4xl font-medium py-4">Hi! I'M Farhan</h1>
        <h1 class="text-4xl font-medium  inline">
            I'M A DEVELOPER
        </h1>
        <div class="py-4 text-base font-normal">
            Hi, I’m a passionate Full-Stack Developer specializing in Angular, Ionic, Node.js, and modern web
            technologies. I create responsive and dynamic web and mobile applications with clean, efficient code. Explore my
            portfolio to see my projects, skills, and how I can help bring your ideas to life.
    
        </div>
        <button (click)="scrollToSection()">See My Work</button>

    </div>
    <div class=" md:w-[450px] flex md:justify-end">
        <img class="w-[400px] h-[400px]  rounded-full" src="../../../assets/WhatsApp Image 2023-09-05 at 12.17.07 PM.jpeg" alt="">
    </div>
</div>