<div class="relative h-screen bg-gray-100 dark:bg-[#000000] text-black dark:text-white transition-colors duration-300">
  <!-- Theme Toggle Button (Fixed on Top Right) -->
  <!-- <button 
    (click)="toggleTheme()" 
    class="fixed top-4 right-4 px-4 py-2 bg-blue-500 dark:bg-yellow-400 text-white dark:text-black rounded-md shadow-md z-50"
  >
    {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
  </button> -->
  <div class="sticky top-0">
    <app-header></app-header>
  </div>
  <div class="main-content bg-gray-100 dark:bg-[#000000] text-black dark:text-white">
    <router-outlet></router-outlet>
  </div>
  <div class="bg-gray-100 dark:bg-[#000000] text-black dark:text-white">
    <app-footer></app-footer>
  </div>
</div>