<div class="relative h-screen bg-gray-100 dark:bg-[#000000] text-black dark:text-white transition-colors duration-300">
  <div
  *ngIf="showHeader"
  class="fixed top-0 left-0 w-full z-50 transition-opacity duration-300 ease-in-out"
  [ngClass]="{'opacity-100': showHeader, 'opacity-0': !showHeader}"
>
  <app-header></app-header>
</div>
  <div class="main-content bg-gray-100 dark:bg-[#000000] text-black dark:text-white pt-16">
    <router-outlet></router-outlet>
  </div>
  <div class="bg-gray-100 dark:bg-[#000000] text-black dark:text-white">
    <app-footer></app-footer>
  </div>
</div>