<div [ngClass]="{ 'slide-down': applyAnimation }" id="about"
  class="bg-gray-100 text-font dark:bg-[#121212] text-gray-600 dark:text-[#e0e0e0] p-6 py-10 lg:px-20 md:flex items-center">
  <div class="md:w-[550px] flex md:justify-end">
    <img class="max-w-full h-auto rounded-full" src="../../../assets/WhatsApp Image 2023-09-05 at 12.17.07 PM.jpeg"
      alt="Farhan Akhtar - Full-Stack Developer" loading="lazy">
  </div>
  <div class="flex-1 mt-6 md:mt-0 md:ml-10">
    <h1 class="text-4xl font-medium">About Me</h1>
    <div class="py-4">
      <p>
        Hello! I'm <span class="font-semibold">Farhan</span>, a skilled Full-Stack Developer with a strong passion for
        crafting dynamic and user-friendly applications.
        With expertise in <span class="font-semibold">Angular, Ionic,React Js Node.js</span>, and a deep understanding
        of modern web development technologies, I
        bring ideas to life by building scalable and intuitive solutions.
      </p>
      <p class="mt-4">
        Over the years, I’ve worked on diverse projects, from developing responsive websites to creating seamless mobile
        apps. I strive
        for clean, efficient code and a great user experience.
      </p>
      <p class="mt-4">
        When I’m not coding, you’ll find me exploring new tech trends or working on passion projects that push my
        creativity.
      </p>
    </div>
    <button (click)="downloadCV()" class="mt-4 px-6 py-2 bg-[#052c65] text-white rounded-lg shadow hover:bg-[#031c45]">
      Download Resume
    </button>
  </div>
</div>