<div  [ngClass]="{ 'slide-down': applyAnimation }" class="bg-gray-100 text-font dark:bg-[#121212] text-black dark:text-[#e0e0e0] p-6 py-10 lg:px-20 md:flex items-center">
  <div class="">

    <h1 class="bg-[#052c65] text-white text-xl font-semibold px-4 py-1 rounded-lg inline tracking-[0.2em]">Services</h1>

    <section class="services-intro  py-2">
      <h1 class="text-4xl font-bold mb-4">Services I am providing</h1>
      <p class="">I specialize in building high-quality web and mobile applications by leveraging my expertise in
        frontend and backend technologies. I provide a wide range of full-stack development services that combine
        creativity with cutting-edge technology.</p>
    </section>
    <div class="bg-gray-100 dark:bg-[#121212] text-black dark:text-[#e0e0e0]">

  
    <section class="services-grid py-16  ">
      <div class=" mx-auto grid grid-cols-1  md:grid-cols-2 gap-8">
        <div *ngFor="let item of services" class="service-card  bg-white dark:bg-[#1e1e1e] text-black dark:text-white p-6 transition-transform ease-in-out duration-[800ms] hover:scale-105 rounded-2xl shadow-lg">
          <h3 class="text-xl font-bold mb-3">{{item.name}}</h3>
          <p>{{item.desc}}</p>
        </div>      
      </div>
    </section>
    <section class="technologies py-16">
      <h2 class="text-3xl font-bold mb-8 text-center">Technologies I Work With</h2>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-5" >
        <div class="technology-card  bg-white dark:bg-[#1e1e1e] text-black dark:text-white rounded-2xl overflow-hidden transition-transform ease-in-out duration-[800ms] hover:scale-105 shadow-lg"  *ngFor="let item of technologies">
          <img class="w-full" loading="lazy" [src]="item.image" alt="Angular">
          <div class="px-4 py-4">
            <div class="font-bold text-xl mb-2">{{item.name}}</div>
            <p class="">{{item.detail}}</p>
          </div>
        </div>      
      </div>
    </section>

    <section class="skills py-16 ">
      <h2 class="text-3xl font-bold mb-8 text-center">Skills</h2>
      <div class="grid grid-cols-2 md:grid-cols-9 gap-6">
        <div class="skill-card  bg-white dark:bg-[#1e1e1e] text-black dark:text-white p-4 transition-transform ease-in-out duration-[800ms] hover:scale-105 rounded-lg shadow-lg flex flex-col justify-center items-center " *ngFor="let item of skills">
         <img class="h-12 flex items-center justify-center" src="{{item.img}}" alt="">
          <p class="font-bold text-lg mt-4">{{item.skill}}</p>
        </div>
      </div>
    </section>
  </div>
  </div>
 
</div>