<div [ngClass]="{ 'slide-down': applyAnimation }"
  class="bg-gray-100 text-font dark:bg-[#121212] text-gray-500 dark:text-gray-400 p-6 py-10 lg:px-28 md:flex items-center">
  <div class="">


    <section class="services-intro text-center py-2">
      <h2 class="text-gray-800 dark:text-white text-2xl md:text-3xl font-semibold leading-snug my-4 text-center">
        Services<br />
        <span class="text-base font-normal">— What I offer —</span>
      </h2>
    </section>
    <div class="bg-gray-100 dark:bg-[#121212] text-gray-600 dark:text-[#e0e0e0]">
      <section class="services-grid py-8  ">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-4">
          <div *ngFor="let card of cards"
            class="bg-white dark:bg-[#1e1e1e] text-gray-600 dark:text-white shadow-md rounded-2xl p-6 text-center hover:shadow-xl transition duration-300">
            <img [src]="card.image" [alt]="card.alt" class="h-16 mx-auto mb-4" />
            <h3 class="text-xl md:text-2xl font-semibold leading-normal mb-2">{{ card.title }}</h3>
            <p class="text-gray-500 dark:text-gray-400 text-sm sm:text-base font-medium">{{ card.description }}</p>
          </div>
        </div>
      </section>
      <section class="technologies py-16">
        <h2 class="text-gray-800 dark:text-white text-2xl md:text-3xl font-semibold leading-snug my-4 text-center">
          Skills<br />
          <span class="text-base font-normal">— I can say I'm quite good at —</span>
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
          <div
            class="technology-card py-8 bg-white dark:bg-[#1e1e1e] text-gray-600 dark:text-white rounded-2xl overflow-hidden transition-transform ease-in-out duration-[800ms] text-center hover:scale-105 shadow-lg"
            *ngFor="let item of skills">
            <div class=" flex justify-center">
              <img class="h-20 w-20" loading="lazy" [src]="item.icon" alt="Angular">
            </div>
            <div class="px-4 py-4">
              <div class="text-gray-800 dark:text-white text-xl md:text-2xl font-semibold leading-normal mb-2">{{item.name}}</div>
              <!-- <p class="">{{item.detail}}</p> -->
            </div>
            <p class="text-gray-500 dark:text-gray-400 text-sm sm:text-base font-medium" *ngFor="let tool of item.more">
              {{tool}}
            </p>
          </div>
        </div>
      </section>
      <h2 class="text-gray-800 dark:text-white text-3xl md:text-3xl font-bold leading-snug my-12 text-center">
        Tools<br />
        <span class="text-base font-normal">— Tools I Work With —</span>
      </h2> 
      <div *ngFor="let tool of tools" class="mb-4 flex sm:justify-center sm:items-center sm:text-center text:start">
        <h3 class="font-semibold text-gray-800 dark:text-white">{{ tool.category }}:</h3>
        <p class="text-sm sm:text-base ms-3 text-gray-500 dark:text-gray-400">{{ tool.items.join(' / ') }}</p>
      </div>
      <!-- <section class="skills py-16 ">
        <h2 class="text-3xl font-bold mb-8 text-center">Skills</h2>
        <div class="grid grid-cols-2 md:grid-cols-9 gap-6">
          <div
            class="skill-card  bg-white dark:bg-[#1e1e1e] text-gray-600 dark:text-white p-4 transition-transform ease-in-out duration-[800ms] hover:scale-105 rounded-lg shadow-lg flex flex-col justify-center items-center "
            *ngFor="let item of skills">
            <img class="h-12 flex items-center justify-center" src="{{item.img}}" alt="">
            <p class="font-bold text-lg mt-4">{{item.skill}}</p>
          </div>
        </div>
      </section> -->
    </div>
  </div>
  <button
  (click)="scrollToTop()"
  class="fixed bottom-8 z-10 right-8 py-2.5 p-2 bg-blue-600 text-white rounded-xl shadow-xl shadow-blue-500/50 transition-transform duration-300"
  [class.translate-x-0]="showButton"
  [class.translate-x-20]="!showButton"
  aria-label="Scroll to top"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
</button>
</div>