/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    font-family: Lato, sans-serif;

   

    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }

  @keyframes slideDown {
    0% {
      transform: translateX(-60px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-down {
    animation: slideDown 2s ease-in-out;
  }

  .text-font {
    font-size: 15px;
  }