<div
    class="projects-page bg-gray-100 dark:bg-[#121212] text-black dark:text-[#e0e0e0] p-6 py-10 lg:px-20 md:flex items-center">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-8">My Projects</h2>
        <p class=" mb-12">A selection of projects demonstrating my experience with both front-end and back-end
            technologies.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div *ngFor="let project of projects"
                class="bg-white dark:bg-[#1e1e1e] text-black dark:text-white transition-transform duration-300 hover:scale-105  rounded-lg shadow-lg overflow-hidden p-6">
                <h3 class="text-xl mb-4 font-semibold">{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <div class="mt-4">
                    <span class="text-sm font-semibold">Technologies: {{ project.technologies.join(', ') }}</span>
                </div>
                <div class="mt-4">
                    <a [href]="project.link" class="text-indigo-600 hover:underline">View Project</a>
                </div>
            </div>
        </div>
    </div>


</div>